.body {
    background-color: #003c6b70;
    border-radius: 5px;
    padding: 15px;
    gap: 10px;
    border: 1px solid #000;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
}