* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #404040;
    height: 100vh;
    width: 100vw;
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: #111;
    border-radius: 5px;
    border: 1px solid #000;
    display: flex;
    width: 100%;
    height: 10%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.logo {
    padding: 5px;
    max-width: auto;
    max-height: 100%;
    align-self: center;
}

.gold-metal {
    padding: 5px;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 2px;
    color: #ffd700;

    background: linear-gradient(90deg,
            #fff4b0,
            #ffd700,
            #cfa500,
            #fff6c7,
            #ffd700);

    background-size: 200% 100%;
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow:
        1px 1px 1px rgba(255, 255, 255, 0.4),
        2px 2px 2px rgba(0, 0, 0, 0.4),
        4px 4px 8px rgba(0, 0, 0, 0.45);
}

.body {
    background-color: #003c6b70;
    border-radius: 5px;
    gap: 15px;
    border: 1px solid #000;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.text {
    font-weight: 800;
    font-size: large;
    color: #000;
    border-radius: 15px;
    padding-left: 40px;
    border: 1px solid #000;
    width: 400px;
    height: 50px;
    background-color: #cbd5e1;
    background-position: 12px center;
    background-size: 18px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.text::placeholder {
    font-weight: 800;
    font-size: large;
    color: #000;
}

.button {
    border-radius: 15px;
    border: 1px solid #000;
    width: 400px;
    height: 50px;
    background-color: #1f3e63;
    color: #fff;
    background-size: 18px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.link,
.link:hover,
.link:visited,
.link:focus {
  text-decoration: none;
}


.footer {
    background-color: #1f3e63;
    color: white;
    border: 1px solid #000;
    font-size: 22px;
    border-radius: 5px;
    width: 100%;
    height: 10%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.mensagem {
    font-size: xx-large;
    color: #000;
}